<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaz con Navbar</title>
  </head>
  <body [ngClass]="themeService.themeSignal()">
      <app-nav-bar></app-nav-bar>
      <div class="container-sm shadow mt-2 p-3 mb-5 rounded">
        <h3 class="mt-4 mb-4">Statistics of La Liga 2023-2024</h3>
        <div class="container" >
          <div class="row">
            <div class="col-md-6 " >
              <div class="card mb-3">
                <div class="card-body" [chart]="pieChart">
                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="card mb-3">
                <div class="card-body" [chart]="barChart">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
