 <mat-toolbar>
      <span mat-button  routerLink="/">La Liga 2023-2024</span>
      <mat-list class="d-ruby">
        <mat-list-item class="data-item"  [routerLink]="['/datatable']" routerLinkActive="active"> Data</mat-list-item>
        <mat-list-item class="mr-2 ml-2 p-0 stats-item" [routerLink]="['/charts']" routerLinkActive="active" > Stats </mat-list-item>
      </mat-list>
      <div class="theme-control">

        <mat-slide-toggle (ngModelChange)="onChange($event)"  [(ngModel)]="isDarkThemeActive">
        </mat-slide-toggle>
            @if (isDarkThemeActive){
              <mat-icon>bedtime</mat-icon>
            } @else {
              <mat-icon>brightness_5</mat-icon>
            }
      </div>
</mat-toolbar>

