.mat-toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
}

  .theme-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

.mat-list {
    display: flex;
  }

.mat-mdc-list-base {
    display: ruby;
}

.mdc-list {
  margin: 30px;
  padding: 8px 0;
  list-style-type: none;
}

.data-item, .stats-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

